@model NeuralPlay.Models.ReaccionViewModel

@using ApplicationCore.Domain.Enums

@{
    ViewData["Title"] = "Crear Reacción";
}

<h1>Crear Reacción</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Tipo"></label>
        <select asp-for="Tipo" class="form-control" asp-items="Html.GetEnumSelectList<TipoReaccion>()"></select>
    </div>
    <input type="hidden" asp-for="PublicacionId" />
    <input type="hidden" asp-for="ComentarioId" />
    <button type="submit" class="btn btn-primary">Crear</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
